<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    
    <!-- css 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <!-- 나눔명조 font -->
    <!-- Google Fonts 먼저 로드 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <!-- 그 다음 커스텀 스타일시트 -->
    <link rel="stylesheet" href="./assets/css/nanum_myeongjo_font.css">


  </head>
  <body>
    <main>
      <div class="markdown-body">
      {{ content }}
      </div>
    </main>
  </body>
</html>
